<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title th:remove="all">Author Table Fragment</title>
        <link rel="stylesheet" href="../static/css/general.css" th:href="@{/css/general.css}"/>
    </head>
    <body>
        <div th:fragment="authorTable">
            <table>
                <caption>List of authors, entries <span th:text="${fromEntry}">1</span> to <span th:text="${toEntry}">3</span> out of <span th:text="${page.totalElements}">3</span></caption>
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                    </tr>
                </thead>
                <tbody th:remove="all-but-first">
                    <tr th:each="author:${page.content}" class="tablecontentrow">
                        <td th:text="${author.firstName}" x-type="firstName">User</td>
                        <td th:text="${author.lastName}" x-type="lastName">Anonymus</td>
                        <td th:text="${author.aid}" class="hidden" x-type="id">123</td>
                    </tr>
                    <tr class="tablecontentrow">
                        <td x-type="firstName">No</td>
                        <td x-type="lastName">One</td>
                        <td class="hidden" x-type="id">123</td>
                    </tr>
                    <tr class="tablecontentrow">
                        <td x-type="firstName">Agatha</td>
                        <td x-type="lastName">Zdywyzic</td>
                        <td class="hidden" x-type="id">123</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>