<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Looks for Books</title>
    <link rel="stylesheet" href="../static/css/general.css" th:href="@{/css/general.css}"/>
    <script src="../static/scripts/main.js" th:src="@{/scripts/main.js}"></script>
</head>
<body>
    <div class="mainframe">
        <div class="labeloverview">
            <div>
                <button id="authors-btn">Author</button>
                <div>Book</div>
                <div>Variant</div>
                <div>Library</div>
                <div>Language</div>
            </div>
            <hr />
            <div>
                <div>AUTHOR_OF</div>
                <div>HAS_VARIANT</div>
                <div>IN_LANGUAGE</div>
                <div>IN_LIBRARY</div>
            </div>
        </div>
        <div>
            <div>a</div>
            <div>b</div>
            <div>c</div>
            <div>d</div>
            <div>e</div>
        </div>
    </div>
</body>
</html>
