<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Looks for Books</title>
    <link rel="stylesheet" href="../static/css/general.css" th:href="@{/css/general.css}"/>
</head>
<body>
    <div class="mainframe">
        <div class="labeloverview">
            <div>Authors</div>
            <div>Books</div>
            <div>Variants</div>
            <div>Libraries</div>
            <div>Languages</div>
        </div>
        <div>
            <div>a</div>
            <div>b</div>
            <div>c</div>
            <div>d</div>
            <div>e</div>
        </div>
    </div>
</body>
</html>
